.article {
  max-width: 766px;
  margin: 5rem auto;
  padding: 0 3rem;
}

.mainTitle {
  font-size: 3rem;
}

.sectionTitle {
  font-size: 2.25rem;
  margin: 4rem 0;
}

.sectionParagraph {
  margin-top: 2rem;
}
